#!/bin/bash
# {{ ansible_managed }}

set -o errexit -o nounset
echo "$0:"

target_dir={{ etckeeper_target_dir }}
cd $target_dir

echo "starting usage: $(du -s $target_dir/.git)"

# trick gc into thinking it has a tty, in order to capture output. see
# https://stackoverflow.com/a/18004259/1163042
echo "running git gc for $target_dir..."
script -q -c '/usr/bin/git gc' /dev/null | grep Total

echo "end usage: $(du -s $target_dir/.git)"
